*,
*::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
}

.activeLink {
	/* border: 5px solid red; */
	/* width: 100vw; */
	/* padding: 0 3rem; */
	color: lightcoral;
}
.icon {
	/* border: 1px solid red; */
	/* color: white; */
	width: 35px;
	/* background-color: aqua; */
}
.inline {
	display:inline-block;
	margin-right: 12px;
}
/* #root {
	border: 1px solid red;
} */